body {
    background-color: #e4dada;
}
#container {
    width: 50%;
    top: 50%;
    left: 50%;
    border-radius: 2%;
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
    padding: 10px;
    position: fixed;
    transform: translate(-50%, -50%);
}
ul {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    font-size: 20px;
    list-style-type: none;
}
.title {
    display: block;
    font-size: 36px;
}
.general-stuff {
    font-size: 24px;
}
.pronouns {
    font-size: 24px;
    color: rgba(128, 128, 128, 0.75);
}
.image {
    vertical-align: baseline;
    padding: 14px;
    width: 25%;
    height: 25%;
    float: left;
    border-radius: 15%;
}