body {
    background-color: #e4dada;
}
#container {
    width: 50%;
    top: 50%;
    left: 50%;
    border-radius: 2%;
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
    padding: 10px;
    position: fixed;
    transform: translate(-50%, -50%);
}
ul {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
    display: inline-flex;
}
li {
    display: block;
    flex: 0 1 auto;
    list-style-type: none;
    display: inline-block;
    font-size: 30px;
}
.title {
    display: block;
    font-size: 40px;
}
.kitchen-sink {
    display: inline-block;
    font-size: 30px;
}
.pronouns{
    font-size: 24px;
    color: rgba(128, 128, 128, 0.75);
}
.image {
    vertical-align: baseline;
    padding: 20px;
    width: 260px;
    height: 260px;
    float: left;
    border-radius: 10%;
}